.installing {
    height: 400px;
    width: 400px;
}

.installing .box .text h1 {
    font-size: 30px;
}

.installing .box .text h2 {
    font-size: 17px;
}

.installing .box .text h3 {
    font-size: 15px;
    font-weight: normal;
    color: gray;
}

.installing .box {
    display: flex;
    height: 392px;
    width: 400px;
}

.installing .box .text {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}