* {
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.welcome {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url("/src/default.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.welcome .div {
    background: rgba( 25, 26, 27, 0.85 );
    div-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    width: 100vw;
    height: 100vh;
    display: flex;
}

.welcome .div .center {
    margin: auto;
    height: 400px;
    width: 400px;
    position: relative;
}

.welcome .div .center .text {
    width: 400px;
    height: 100px;
    display: flex;
}

.welcome .div .center .bl {
    height: 100px;
    width: 400px;
    display: flex;
}

.welcome .div .center .bl  .language {
    width: min-content;
    height: 17px;
    display: flex;
    margin: auto;
    color: #3b82f6;
    font-size: 17px;
    transition: all 0.3s;
}

.welcome .div .center .bl  .language:hover {
    color: #2563eb;
}

.welcome .div .center .bl  .language .text {
    margin-left: 10px;
    width: max-content;
    height: 17px;
}

.welcome .div .center .text h1 {
    margin: auto;
}

.welcome .div .center .down {
    position: absolute;
    bottom: 0;
    width: 400px;
    display: flex;
}

.welcome .div .center .down button {
    margin: auto;
}

.button-normal {
    color: white;
    background-color: #1e293b;
    transition: background-color 0.3s ease;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
.button-normal:hover {
    background-color: #111827; 
}
  
.button-normal:focus {
    outline: none;
}